<div class="box">
  <header>
    <img class="imgheader" src="assets/logo.jpeg" alt="logo" />
    <h1>AsfalisCorp</h1>
  </header>
  <p class="texto">Cadastro de Policial</p>
  <div class="formtabela">
    <form class="form-box" [formGroup]="formPolicial" (ngSubmit)="cadastrar()">
      <p class="texto">Nome</p>
      <input
        formControlName="nome"
        placeholder="Nome"
        type="text"
        maxlength="64"
      />
      <p class="texto">CPF</p>
      <input
        formControlName="cpf"
        placeholder="CPF"
        type="text"
        maxlength="14"
      />
      <p class="texto">Patente</p>
      <select formControlName="patente" type="option">
        <option value="Soldado">Soldado</option>
        <option value="Cabo">Cabo</option>
        <option value="Terceiro Sargendo">Terceiro Sargento</option>
        <option value="Segundo Sargento">Segundo Sargento</option>
        <option value="Primeiro Sargento">Primeiro Sargento</option>
        <option value="Subtenente">Subtenente</option>
        <option value="Segundo Tenente">Segundo Tenente</option>
        <option value="Capitão">Capitão</option>
        <option value="Major">Major</option>
        <option value="Tenente Coronel">Tenente Coronel</option>
        <option value="Coronel">Coronel</option>
      </select>
      <p class="texto">Data De Nascimento</p>
      <input
        formControlName="dataDeNascimento"
        placeholder="Data de Nascimento"
        type="date"
      />
      <button type="submit" [disabled]="!formPolicial.valid">Cadastrar</button>
    </form>
    <table>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Data de Nascimento</th>
        <th>CPF</th>
        <th>Patente do Policial</th>
        <th>Documento Valido</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let policial of list">
        <td>{{ policial.nome }}</td>
        <td>{{ policial.idade }}</td>
        <td>{{ policial.dataDeNascimento }}</td>
        <td>{{ policial.cpf }}</td>
        <td>{{ policial.patente }}</td>
        <td>{{ policial.documentoValido }}</td>
        <td>
          <button (click)="editar(policial)">Editar</button>
          <button (click)="remover(policial)">Remover</button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="formPolicial.valid">
    <p class="texto1">Informações enviaveis para a Central</p>
  </div>
  <div *ngIf="!formPolicial.valid">
    <p class="texto2">Informações não enviaveis para a Central</p>
  </div>
  <nav>
    <ul class="nextElement">
      <li>
        <a class="nextElement" routerLink="/condutor"> Anterior</a>
        <span>&nbsp;</span>
        <a class="nextElement" routerLink="/veiculo">Proximo</a>
      </li>
    </ul>
  </nav>
</div>
