<div class="box">
  <header>
    <img class="imgheader" src="assets/logo.jpeg" alt="logo" />
    <h1>AsfalisCorp</h1>
  </header>
  <p class="texto">Cadastro de Rodovia</p>

  <div class="formtabela">
    <form class="form-box" [formGroup]="formRodovia" (ngSubmit)="cadastrar()">
      <p class="texto">Nome</p>
      <input
        formControlName="nome"
        placeholder="Nome"
        type="text"
        maxlength="64"
      />
      <p class="texto">Cep</p>
      <input
        formControlName="cep"
        placeholder="CEP"
        type="text"
        maxlength="9"
      />
      <p class="texto">Mortes na rodovia</p>
      <input formControlName="mortes" placeholder="Mortes" type="number" />
      <button type="submit" [disabled]="!formRodovia.valid">Cadastrar</button>
    </form>

    <table class="tabela">
      <tr>
        <th>Nome</th>
        <th>CEP</th>
        <th>Mortes</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let rodovia of list">
        <td>{{ rodovia.nome }}</td>
        <td>{{ rodovia.cep }}</td>
        <td>{{ rodovia.mortes }}</td>
        <td>
          <button (click)="editar(rodovia)">Editar</button>
          <button (click)="excluir(rodovia)">Remover</button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="formRodovia.valid">
    <p class="texto1">Informações enviaveis</p>
  </div>
  <div *ngIf="!formRodovia.valid">
    <p class="texto2">Informações não enviaveis</p>
  </div>

  <nav>
    <ul class="nextElement">
      <li>
        <a class="nextElement" routerLink="/veiculo"> Anterior</a>
        <span>&nbsp;</span>
        <a class="nextElement" routerLink="/acidente">Proximo</a>
      </li>
    </ul>
  </nav>
</div>
