.box {
  text-align: center;
  p {
    font-size: 26px;
    font-weight: bold;
  }

  table,
  th,
  td {
    width: 90%;
    height: 10px;
    border: 2px solid;
    padding: 9px 4px;
    background-color: 5c696f;
  }
  table {
    background-color: rgb(25, 68, 109);
  }
  th {
    background-color: rgb(25, 68, 109);
  }
  td {
    background-color: rgb(204, 203, 203);
    text-align: center;
  }
}
