<div class="box">
  <header>
    <img class="imgheader" src="assets/logo.jpeg" alt="logo" />
    <h1>AsfalisCorp</h1>
  </header>
  <p class="texto">Cadastro de Acidentes</p>

  <div class="formtabela">
    <form class="form-box" [formGroup]="formAcidente" (ngSubmit)="cadastrar()">
      <p class="texto">Condutor</p>
      <select formControlName="idCondutor">
        <option value="">Selecione um Condutor</option>
        <option *ngFor="let item of condutores" value="{{ item.id }}">
          {{ item.nome }}
        </option>
      </select>
      <p class="texto">Policial</p>
      <select formControlName="idPolicial">
        <option value="">Selecione um Policial</option>
        <option *ngFor="let item of policiais" value="{{ item.id }}">
          {{ item.nome }}
        </option>
      </select>
      <p class="texto">Rodovia</p>
      <select formControlName="idRodovia">
        <option value="">Selecione uma Rodovia</option>
        <option *ngFor="let item of rodovias" value="{{ item.id }}">
          {{ item.nome }}
        </option>
      </select>
      <p class="texto">Veiculo</p>
      <select formControlName="idVeiculo">
        <option value="">Selecione um Veiculo</option>
        <option *ngFor="let item of veiculos" value="{{ item.id }}">
          {{ item.nome }}
        </option>
      </select>
      <p class="texto">Data do Acidente</p>
      <input
        formControlName="dataDoAcidente"
        placeholder="Data do Acidente"
        type="date"
      />
      <p class="texto">Relatorio do Acidente</p>
      <input formControlName="relatorio" placeholder="Relatorio" type="text" />
      <p class="texto">Numero de mortos</p>
      <input
        formControlName="casualidades"
        placeholder="Casualidades"
        type="number"
        maxlength="4"
      />
      <button type="submit" [disabled]="!formAcidente.valid">Cadastrar</button>
    </form>

    <table class="tabelinha">
      <tr>
        <th>Relatorio</th>
        <th>Policial</th>
        <th>Patente do Policial</th>
        <th>Idade do Policial</th>
        <th>Condutor</th>
        <th>CPF do Condutor</th>
        <th>Idade do Condutor</th>
        <th>Condutor embriagado?</th>
        <th>Casualidades</th>
        <th>Veiculo</th>
        <th>Data do Acidente</th>
        <th>Local Do Acidente</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let item of acidentes">
        <td>{{ item.relatorio }}</td>
        <td>{{ item.policial.nome }}</td>
        <td>{{ item.policial.patente }}</td>
        <td>{{ item.policial.idade }}</td>
        <td>{{ item.condutor.nome }}</td>
        <td>{{ item.condutor.cpf }}</td>
        <td>{{ item.condutor.idade }}</td>
        <td>{{ item.condutor.statusCondutor }}</td>
        <td>{{ item.casualidades }}</td>
        <td>{{ item.veiculo.nome }}</td>
        <td>{{ item.dataDoAcidente }}</td>
        <td>{{ item.rodovia.nome }}</td>
        <td>
          <button (click)="remover(item)">Remover</button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="formAcidente.valid">
    <p class="texto1">Informações enviaveis</p>
  </div>
  <div *ngIf="!formAcidente.valid">
    <p class="texto2">Informações não enviaveis</p>
  </div>
  <nav>
    <ul class="nextElement">
      <li>
        <a class="nextElement" routerLink="/rodovia"> Anterior</a>
      </li>
    </ul>
  </nav>
</div>
