<div class="box">
  <header>
    <img class="imgheader" src="assets/logo.jpeg" alt="logo" />
    <h1>AsfalisCorp</h1>
  </header>
  <p class="texto">Cadastro de Veiculo</p>
  <div class="formtabela">
    <form class="form-box" [formGroup]="formVeiculo" (ngSubmit)="cadastrar()">
      <p class="texto">Nome do Veiculo</p>
      <input
        formControlName="nome"
        placeholder="Nome"
        type="text"
        maxlength="64"
      />
      <p class="texto">Placa do Veiculo</p>
      <input
        formControlName="placa"
        placeholder="Placa"
        type="text"
        maxlength="8"
      />
      <p class="texto">Ano Do Veiculo</p>
      <input
        formControlName="ano"
        placeholder="Ano do Veiculo"
        type="text"
        maxlength="4"
      />
      <button type="submit" [disabled]="!formVeiculo.valid">Cadastrar</button>
    </form>
    <table>
      <tr>
        <th>Nome</th>
        <th>Placa</th>
        <th>Ano</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let veiculo of list">
        <td>{{ veiculo.nome }}</td>
        <td>{{ veiculo.placa }}</td>
        <td>{{ veiculo.ano }}</td>
        <td>
          <button (click)="editar(veiculo)">Editar</button>
          <button (click)="remover(veiculo)">Remover</button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="formVeiculo.valid">
    <p class="texto1">Informações enviaveis</p>
  </div>
  <div *ngIf="!formVeiculo.valid">
    <p class="texto2">Informações não enviaveis</p>
  </div>
  <nav>
    <ul class="nextElement">
      <li>
        <a class="nextElement" routerLink="/policial"> Anterior</a>
        <span>&nbsp;</span>
        <a class="nextElement" routerLink="/rodovia">Proximo</a>
      </li>
    </ul>
  </nav>
</div>
