/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgheader {
  padding: 5px;
  width: 150px;
  height: 100px;
}

.center img {
  width: 290px;
  height: 200px;
}

body {
  background-color: #4d4d4d;
  header {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 100px;
    background-color: #e67224;
    border: 2px solid black;
    font-size: 30px;
    font-family: "Archivo", sans-serif;
    font-family: "Cutive Mono", monospace;
    color: rgba(66, 66, 66, 255);
  }
}
.formtabela {
  overflow: hidden;
  justify-content: space-around;
  justify-items: auto;
  display: flex;
}
.texto {
  background-color: #5c696f;
  border: 2px solid black;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-family: "Cutive Mono", monospace;
  color: rgb(0, 0, 0);
}
.nextElement {
  background-color: #e67224;
  border: 2px solid black;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-family: "Cutive Mono", monospace;
  color: rgb(0, 0, 0);
}
.texto1 {
  background-color: #15aa02;
  border: 2px solid black;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-family: "Cutive Mono", monospace;
  color: rgb(0, 0, 0);
}
.texto2 {
  background-color: #b60000;
  border: 2px solid black;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-family: "Cutive Mono", monospace;
  color: rgb(0, 0, 0);
}
.form-box {
  background-color: #5c696f;
  width: 370px;
  padding: 15px 0;
  outline: 2px solid;
  outline-color: rgb(0, 0, 0);

  input {
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    font-size: 22px;
    border: solid 1px rgb(199, 195, 195);
    display: block;
    outline: 2px solid;
    outline-color: rgb(0, 0, 0);
  }
  button {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .ng-touched.ng-invalid {
    outline: 3px solid;
    outline-color: red;
  }
  select {
    width: 300px;
    margin: 10px auto;
    padding: px;
    font-size: 22px;
    border: solid 1px rgb(199, 195, 195);
    display: block;
    outline: 2px solid;
    outline-color: rgb(0, 0, 0);
  }
}
