.main {
  .center {
    display: flex;
    height: 30%;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

}
