.box {
  text-align: center;
  p {
    font-size: 26px;
    font-weight: bold;
  }
  table,
  th,
  td {
    width: 90%;
    height: 10px;
    border: 2px solid;
    padding: 4px 9px;
    background-color: 5c696f;
  }
}
